# Ignore the tasks folder 
tasks/

# Ignore MATLAB backup files
*.asv

# Ignore data files
*.mat

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
*.swp

# Ignore compiled files
*.mex*
